* {
  margin: 0;
  padding: 0;
}

body {
  background-color: burlywood;
}

.navbar-container {
  background-color: rgb(189, 155, 110);
}

main {
  background-image: url(./images/background_dessert.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main > * {
  margin: 0 15px;
}

.main-title-container {
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-size: 7vw;
  color: rgb(108, 80, 27);
  background-color: rgba(255, 235, 205, 0.75);
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}

.carousel_container {
  background-color: rgba(255, 235, 205, 0.75);
  padding: 20px 0 35px;
}

.carousel_heading {
  font-size: 4vw;
  color: rgb(108, 80, 27);
  text-align: center;
}

.baked-goods-carousel {
  width: 75%;
  margin: 0 auto;
}

.about-us-heading {
  font-size: 4vw;
  color: rgb(108, 80, 27);
  text-align: center;
}

.about-us-container,
.form-container {
  background-color: rgba(255, 235, 205, 0.75);
  padding: 15px;
}

.about-us-container > p {
  font-size: 2vw;
  text-align: center;
  
}

.form-heading{
  font-size: 4vw;
  color: rgb(108, 80, 27);
}

.form-container{
  font-size: 2.5vw;
  color: rgb(108, 80, 27);
  text-align: center;
  background-color: rgba(255, 235, 205, 0.75);
}

.form-bg{
  background-color: rgba(255, 255, 255, 0.799);
}

.range-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-range{
  width: 50vw;
}

.input-style>input{
  font-size: 2vw;
}

.input-style>textarea{
  font-size: 2vw;
}
